[submodule "dependencies/wxWidgets"]
	path = dependencies/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "dependencies/ctre"]
	path = dependencies/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
